@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500;600;700&display=swap');

:root{
  /* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--ghost-white: hsla(252, 45%, 92%, 1);
--french-gray: hsla(264, 3%, 44%, 1);
--white: hsla(0, 0%, 100%, 1);
--fairy-tale: hsla(326, 93%, 89%, 1);
--jasmine: hsla(50, 100%, 78%, 1);

  /* font weight */
--f-w-300: 300;
--f-w-500: 500;
--f-w-600: 600;
--f-w-700: 700;

--ff-IBM-Plex-Mono: 'IBM Plex Mono', monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}